!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! 
! Xresources file
! Mahdi Mohammad Shibli
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!----------------------------------------------------------
!
!   ayu - dark
!
!----------------------------------------------------------


! Special
*.background:   #0A0B11
!*.foreground:   #b3b1ad
*.cursorColor:  #e6b450
!*.color0:       #0a0e14
!*.color8:       #1f2430
!*.color1:       #ff3333
!*.color9:       #ff3333
!*.color2:       #c2d94c
!*.color10:      #bae67e
!*.color3:       #ffb454
!*.color11:      #ffd580
!*.color4:       #59c2ff
!*.color12:      #73d0ff
!*.color5:       #f07178
!*.color13:      #f28779
!*.color6:       #95e6cb
!*.color14:      #95e6cb
!*.color7:       #ffffff
!*.color15:      #ffffff

!nord

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

!-------------------------------------------------------------------
!
!   ST
!
!--------------------------------------------------------------------
!St.font: Liberation Mono:pixelsize=13:antialias=true:autohint=true;
!St.font: Hack Nerd Font:pixelsize=15;
St.font: Lucida Console:pixelsize=13;
st.internalBorder: 30px
*.alpha: 0.85
st.borderpx: 20
