/* Removes white loading page */

@-moz-document url(about:blank), url(about:newtab), url(about:home) {
    html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
      background: #1d2021 !important;
    }
  }
  

  /* Hide scrollbar */
  
  :root{
    scrollbar-width: none !important;
  }
  }
  
  @-moz-document url(about:privatebrowsing) { 
  
  :root{
    scrollbar-width: none !important;
  }
  }

  @import "variables.css";

:root {
    --in-content-border-active: var(--custom-foreground) !important;
    --in-content-border-active-shadow: none !important;
    --in-content-page-background: var(--custom-background) !important;
    --newtab-textbox-background-color: var(--custom-background);
}

@-moz-document url("about:home"), url(about:preferences), url("about:blank"), url("about:newtab"), url("about:privatebrowsing") {
    body {
        background-color: var(--custom-background) !important;
        --newtab-search-icon: transparent !important;
    }
    #newtab-search-text {
        background-color: var(--custom-background) !important;
        font-size: 18px !important;
        color: var(--custom-foreground) !important;
        box-shadow: none !important;
        text-align: center !important;
        border: none !important;
        font-weight: bold !important;
    }
    .search-wrapper input {
        --newtab-textbox-focus-boxshadow: none !important;
        padding-left: 20px !important;
        padding-inline-end: 13px !important;
    }
    .search-wrapper .logo-and-wordmark .wordmark {
        display: none !important;
    }
    .search-wrapper .logo-and-wordmark {
        margin-bottom: 40px !important;
        padding-top: 60px !important;
        opacity: 0.5 !important;
    }
    .search-button {
        background: none !important;
    }
    .prefs-button button {
        fill: var(--custom-foreground) !important;
    }
    .prefs-button button:hover, .prefs-button button:focus {
        background-color: transparent !important;
    }
    .contentSearchSuggestionTable {
        display: none !important;
    }
}